html, body, div, ul, il, dd, dt, img, ol, h1, h2, h3, h4, h5, h6 {
	padding:0; margin:0;
}
input, textarea {outline:0;resize: none;}
html, body {
	font: 12px/18px helvetica, serif;
}
.clr {
	clear: both;
}
h2 {padding: 15px; font-size: 32px; line-height: 40px; margin-bottom: 15px; border-bottom:10px solid #5D5D5D}
h3 {font-size: 22px; line-height: 28px; margin: 10px 5px 10px;}
#userInputField,
#md5ResultHex {
	font: 18px/25px courier;
}
#MD5ViewForm {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 10px;
	height: 360px;
}
#userInputField {
	border: 3px solid #222;
	height: 5em;
	padding: 5px;
	width: 430px;
	margin: 0 auto;
	margin-top: 5px;
}
#userInputField:focus {
	border-color: #C70000;
}
#userInput,
#userResult {
	float: left;
	width: 470px;
	height: 200px;
}
#userResult {
	padding-left: 10px;
	border-left: 10px solid #F3F3F3;
}
#userResultHex {
	font-size:18px;
	line-height:30px;
	padding-bottom: 15px;
}
#userResultHex,
#userResultView {
	padding-left: 10px;
}
#inputKey {
	padding-left: 3px;
}
span.key {
	display: inline-block;
	position:relative;
	font:bold 26px/2em courier, monospace;
	width: 2em;
	border: 3px solid #222;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left:-3px;
}
span.key.focus {
	background: #DF0000;
	color: #F7F7F7;
	text-shadow: 1px 1px #333;
}
div.code {
	width: 940px;
	margin: 0 auto;
	border-top: 10px solid #5D5D5D;
	border-bottom: 10px solid #5D5D5D;
	padding: 10px;
}
#foot {
	width: 960px;
	margin: 10px auto;
}
.md5View {margin-top: 5px}
/* MD5View CSS */

.md5View {
	font-size: 32px;
	border: 5px solid #E3E3E3;
}
.md5View {
	display: inline-block;
	color : #F3F3F3;
	text-shadow: 1px 1px #5D5D5D;
}
.md5ViewValue {
	float:left;
	width: 2em;
	font-weight: bold;
	font-family: courier, monospace;
	height: 2em;
	line-height: 2em;
	text-align: center;
}
.md5ViewList {
	list-style: none;
}
